/*清除默认边距*/
*{
	margin: 0;
	padding: 0;
}
/*通用样式：水平居中*/
.wrap{
	width: 1000px;
    margin: 0 auto;
    position: relative;
}
/*通用样式：清除浮动*/
.clearfix:after{
    clear: both;
    height: 0;
    line-height: 0;
    content: ' ';
    display: block;
    zoom: 1;
}
/*顶部*/
.top{
    height: 20px;
    background-color: #f5f5f5;
}
/*头部*/
.header{
    height: 92px;
}
/*导航*/
.nav{
	height: 36px;
	background-color: #60bff2;
}
/*边栏*/
.banner{
    width: 802px;
    height: 414px;
    margin: 0 auto;
    padding: 9px 0 0 198px;
}
/*轮播图*/
.banner-slide{
    width: 544px;
    height: 414px;
    background-color: #8edff3;
    float: left;
}
/*动态搜索*/
.banner-search{
    width: 250px;
    height: 255px;
    background-color: #eee;
    float: right;
}
/*帮助*/
.banner-help{
	width: 250px;
	height: 146px;
	background-color: #ccc;
	margin-top: 12px;
	float: right;
}
/*主要内容*/
.content{
    padding: 10px 0 38px 0;
}
/*内容导航*/
.content-tab{
	width: 742px;
	height: 490px;
	background-color: #ccc;
	float: left;
}
/*新闻摘要*/
.content-news,.content-close{
	width: 248px;
	height: 236px;
	border: 1px solid #ccc;
	float: right;
}
/*停诊新闻*/
.content-close{
	margin-top: 12px;
	border-color: red;
}
/*脚部*/
.footer{
	height: 70px;
	padding: 25px 0;
	background-color: #eceef2;
}






