/*清除默认边距*/
*{
    margin: 0;
    padding: 0;
}

/*公共样式*/
a{
    text-decoration: none;
}
select,input{
    border: none;
    outline: none;
}

/*顶部*/
.top{
    line-height: 20px;
    font-size: 13px;
    color: #868686;
}
.top .call{
    background: url(../img/icon-call.png) no-repeat center left;
    display: inline-block;
    float: left;
    padding-left: 20px;
}
.top .welcome{
    display: inline-block;
    float: right;
}
.top .welcome a{
    color: #2da5e1;
    padding-left: 10px;
}

/*头部*/
.header .logo{
    display: inline-block;
    width: 403px;
    height: 74px;
    padding: 9px 0;
}
.header .search{
    display: inline-block;
    width: 326px;
    height: 38px;
    background-color: orange; 
    position: absolute;
    right: 0;
    top: 29px;
}

/*导航*/
.nav .link{
    display: inline-block;
    padding-left: 30px;
    line-height: 36px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 16px;
    min-width: 80px;
}
.nav a:hover{
    color: #d7f3ff;
}
.nav .menu{
    width: 130px;
    padding-right: 30px;
    background-color: #1fa4f0;
    position: relative;
}
.nav .menu .menu-list{
    width: 100%;
    height: 423px;
    background-color: #1fa4f0;
    position: absolute;
    left: 0;
    top: 36px;
}
.nav .right{
    float: right;
}

/*边栏*/
.banner-search{
    background-color: #fafafa;
}
.banner-search .capition,.banner-help .capition{
    height: 22px;
    padding: 15px 0;
    text-align: center;
}
.banner-search .capition .text,.banner-help .capition .text{
    display: inline-block;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 28px;
}
.banner-search .capition .text{
    color: #fec009;
    background: url(../img/icon-help.png) no-repeat 0 0;
}
.banner-search .form{
    height: 150px;
}
.banner-search .form .line{
    text-align: center;
    padding-bottom: 9px;
}
.banner-search .form .line select{
    width: 170px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    padding: 2px 0;
    border: 1px solid #dcdddd;
    /*z-index是为了在交互的时候不挡住？？？*/
    z-index: 0;
}
.banner-search .submit{
    text-align: center;
    height: 32px;
}
.banner-search .submit .button{
    width: 108px;
    height: 32px;
    background-color: #fecd09;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
}
.banner-help{
    background-color: #fafafa;
}
.banner-help .capition .text{
    color: #00b3ea;
    background: url(../img/icon-help.png) no-repeat 0 -23px;
}
.banner-help .link{
    display: inline-block;
    width: 86px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 0 8px 26px;
}
.banner-help .link a{
    color: #00b3ea;
    font-size: 14px;
}

/*内容*/
.content-tab{
    background: none;
}
.content-tab .capition{
    height: 34px;
    line-height: 34px;
    background-color: #f4f6fa;
}
.content-tab .capition .item{
    display: block;
    width: 112px;
    height: 34px;
    color: #00b3ea;
    text-align: center;
    float: left;
}
/*特殊样式：点击才改变样式*/
.content-tab .capition .item_click{
    background-color: #60bff2;
    color: #fff;
}
.content-tab .container{
    border: 1px solid #f4f6fa;
    height: 452px;
}
.content-tab .container .item-capition{
    height: 26px;
    line-height: 26px;
    padding: 8px;
    border-bottom: 1px solid #f4f6fa;
}
.content-tab .item-capition-name{
    display: block;
    padding: 0 12px;
    color: #4c4948;
    float: left;
}
/*特殊样式：点击才改变样式*/
.content-tab .item_click{
    background-color: #60bff2;
    color: #fff;
}
.content-tab .item-content{
    padding: 16px 12px;
}
/*医院列表*/
.content-tab .item-content .ic-list .icl-item{
    float: left;
    width: 216px;
    height: 102px;
    padding: 0 20px 10px 120px;
    font-size: 12px;
    position: relative;
}
.content-tab .item-content .ic-list .icl-item img{
    width: 110px;
    height: 98px;
    position: absolute;
    left: 0;
    top: 0;
}
.content-tab .item-content .ic-list .item-name{
    color: #036eb7;
    font-size: 14px;
    line-height: 21px;
    padding-top: 13px;
}
.content-tab .item-content .ic-list .item-level{
    float: right;
    color: #979797;
    font-size: 12px;
}
.content-tab .item-content .ic-list .item-phone,
.content-tab .item-content .ic-list .item-address{
    color: #666;
    line-height: 18px;
    padding-bottom: 4px;
}
/*医院文案列表*/
.content-tab .item-content .ic-textlist .ict-item{
    display: block;
    width: 351px;
    height: 27px;
    font-size: 14px;
    color: #666;
    padding-top: 8px;
    float: left;
    border-bottom: 1px dashed #dcdddd;
}
/*.content-tab .item-content .ic-textlist .ict-item:nth-child(2n){
    margin-left: 13px: 
}*/
.content-tab .item-content .ic-textlist .ict-item-level{
    float: right;
    font-size: 12px;
}
.content-tab .item-content .ic-more{
    padding-top: 5px; 
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    color: #5084c4;
    clear: both;
}
.content-news{
    background-color: #fff;
    border: 1px solid #f4f6fa;
}
.content-news .capition,.content-close .capition{
    height: 38px;
    line-height: 38px;
    background-color: #f4f6fa;
    /*text-indent首行缩紧20px*/
    text-indent: 20px;
    font-size: 15px;
}
.content-news .capition{
    color: #fec009;
}
.content-news .capition .more,.content-close .capition .more{
    float: right;
    padding-right: 22px;
    color: #868686;
    font-size: 12px;
}
.content-news .list{
    background: url(../img/list-yellow.jpg) 17px 20px no-repeat;
    font-size: 12px;
    padding: 15px 20px 13px 35px;
    line-height: 29px;
}
.content-news .list .link{
    display: block;
    color: #969696;
}
.content-close{
    background-color: #fff;
    border: 1px solid #f4f6fa;
}
.content-close .capition{
    color: #4ab4ed;
}
.content-close .list{
    background: url(../img/list-blue.jpg) 17px 20px no-repeat;
    font-size: 12px;
    padding: 15px 20px 13px 35px;
    line-height: 29px;
}
.content-close .list .link{
    display: block;
    color: #969696;
}

/*脚部*/
.footer{
    line-height: 70px;
    color: #666;
    font-size: 12px;
    text-align: center;
}







